body{
  background: linear-gradient(to right, black, white);
  color: white;
  font-family: sans-serif;
  text-align: center;
  
}
input{
  height: 150px;
  width: 250px;
  margin-top: 200px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  
}
p{
  font-size: 30px;
}
button{
  color: red;
  height: 150px;
  width: 250px;
  border-radius: 20%;
  font-size: 30px;
  border: 5px solid black;
}
li{
  font-size:20px ;
  color: white;
}
#body-1{
  text-align: left;
  background: linear-gradient( to right, blue, pink);
}

